.start-inline {
  display: inline;
}

.start-display-none {
  display: none;
}

.dealer-menu-container {
  display: none;
}

.load-save-menu {
  display: none;
}

.start-block {
  display: block;
}

#error-indicator {
  display: none;
}

.player-index-container {
  display: none;
}

#list-button-hide {
  display: none;
}
