@media only screen and (max-width: 500px) {
    h1 {
        font-size: 35px;
        margin-top: -20px;
        margin-bottom: -5px;
    }

    nav {
      margin-top: -10px;
    }

    .btn-main {
      margin: 10px 0;
    }
    .well-overflow {
      height: 200px;
      overflow: scroll;
    }
}

@media only screen and (min-width: 500px) {
    .btn-main {
      margin: 20px auto;
      width: 700px;
    }
    .set-seat-number a {
      margin: 0 8px;
    }
}
