h1 {
  text-align: center;
}

.logout {
  display: inline;
}

th, td {
  text-align: center;
}
.navbar {
    margin-bottom: -10px;
}
.well {
  margin-top: 15px;
  text-align: center;
}
.pagination {
    display: table;
    margin: 0 auto;
}

#save-load-status {
  text-align: center;
}
